{% extends "base.html" %}

{% block content %}
<!-- Contact Section Starts -->
<section class="contact" id="contact">
    <h1 class="heading"><span>contact</span> us</h1>

    <form action="{{ url_for('contact') }}" method="post">
        <div class="inputBox">
            <input type="text" name="name" placeholder="Name" required />
            <input type="email" name="email" placeholder="Email" required />
        </div>
        <div class="inputBox">
            <input type="tel" name="number" placeholder="Number" required />
            <input type="text" name="subject" placeholder="Subject" required />
        </div>
        <textarea name="message" placeholder="Message" cols="30" rows="10" required></textarea>
        <input type="submit" value="Send Message" class="btn" />
    </form>
</section>
<!-- Contact Section Ends -->
{% endblock %}
