{% extends "base.html" %}
{% block title %}Features - P Events{% endblock %}
{% block content %}


<br><br><br><br>

<div id="features-container">
    <h1>Features</h1>
    <h1>We help you make your event a success with our effective event management solutions.</h1>
    <p>Organizing events can be tedious and challenging. Our platform provides easy-to-use tools and software to overcome any challenges while hosting events.</p>
    
    <h2>Flexible Ticketing</h2>
    <p>Because no one-size-fits-all</p>
    <p>Organizers now have the option to create & customize their tickets. We have a wide variety of ticket types to choose from:</p>
    <ul>
        <li>• Regular tickets</li>
        <li>• Waitlist tickets</li>
        <li>• Approval-based tickets</li>
        <li>• Hidden tickets with access code</li>
    </ul>
    <p>You can even provide attractive discounts to your participants.</p>

    <div class="feature-card">
        <h3>Free & Paid Tickets</h3>
    </div>
    <div class="feature-card">
        <h3>Approval Tickets</h3>
    </div>
    <div class="feature-card">
        <h3>Hidden Tickets</h3>
    </div>

    <h2>Automated Settlements</h2>
    <p>Receive periodic settlements to your bank account</p>
    <p>You can streamline your event finances with KonfHub's seamless automated settlement system. All you need to do is provide your bank account details in the event admin dashboard, and our automated system settles funds directly & transparently to your bank account every Thursday.</p>

    <div class="feature-card">
        <h3>Transparent Settlements</h3>
    </div>
    <div class="feature-card">
        <h3>Automated Settlements</h3>
    </div>
    <div class="feature-card">
        <h3>Weekly Settlements (every Thursday)</h3>
    </div>

    <h2>Boost Ticket Sales</h2>
    <p>Save time & increase registrations effortlessly with referral contests</p>
    <p>The most effective way to acquire authentic attendees is through referrals or word-of-mouth marketing. Referral contests generate interest among the audience and facilitate the organic growth of ticket sales.</p>

    <div class="feature-card">
        <h3>Referral Program</h3>
    </div>
    <div class="feature-card">
        <h3>Increase Sales</h3>
    </div>
    <div class="feature-card">
        <h3>Giveaway Rewards</h3>
    </div>

    <h2>Keep Audience on Their Toes</h2>
    <p>Make your event interactive with live quizzing</p>
    <p>By conducting interactive quizzes, you can keep the audience engaged and ensure they learn something new.</p>

    <div class="feature-card">
        <h3>Live Leaderboard</h3>
    </div>
    <div class="feature-card">
        <h3>MC-led Quizzing</h3>
    </div>
    <div class="feature-card">
        <h3>Customizable Pages</h3>
    </div>

    <h2>Communication Solutions</h2>
    <p>Keep your attendees in the loop with effective communication</p>
    <ul>
        <li>• Email: Send personalized emails to your participants</li>
        <li>• WhatsApp: Send messages directly to your participants' WhatsApp inbox</li>
        <li>• SMS: Send notifications using predefined SMS templates</li>
    </ul>

    <div class="feature-card">
        <h3>Emails</h3>
    </div>
    <div class="feature-card">
        <h3>WhatsApp</h3>
    </div>
    <div class="feature-card">
        <h3>SMS</h3>
    </div>

    <h2>Real-time Analytics</h2>
    <p>Streamline Your Ticket Sales and Marketing Analytics</p>
    <p>Our platform offers comprehensive insights into ticket sales and marketing activities.</p>

    <div class="feature-card">
        <h3>Real-time insights</h3>
    </div>
    <div class="feature-card">
        <h3>Ticket Sales</h3>
    </div>
    <div class="feature-card">
        <h3>UTM Parameters</h3>
    </div>

    <h2>Ready-made Event Pages</h2>
    <p>Many template options to choose from</p>
    <p>Creating event pages has never been easier. You can select from a range of available templates on our platform.</p>

    <div class="feature-card">
        <h3>Many templates</h3>
    </div>
    <div class="feature-card">
        <h3>Customization</h3>
    </div>
    <div class="feature-card">
        <h3>Brand Identity</h3>
    </div>

    <h2>Check-in App</h2>
    <p>Blazing fast check-ins at registration desks!</p>
    <p>Say goodbye to long registration queues with our Check-in App.</p>

    <div class="feature-card">
        <h3>Faster Check-in</h3>
    </div>
    <div class="feature-card">
        <h3>Face Recognition</h3>
    </div>
    <div class="feature-card">
        <h3>Card Printing</h3>
    </div>

    <h2>Sponsor App</h2>
    <p>Make lead capture a breeze for your sponsors</p>
    <p>Our platform offers a convenient way for sponsors to capture leads by scanning attendee QR codes through our Sponsor App.</p>

    <div class="feature-card">
        <h3>Capture Leads</h3>
    </div>
    <div class="feature-card">
        <h3>QR Code Based</h3>
    </div>
    <div class="feature-card">
        <h3>Download Leads</h3>
    </div>

    <h2>Feedback Forms & Certificates</h2>
    <p>Collect feedback and issue certificates hassle-free</p>
    <p>Create customized certificates and collect genuine feedback from participants.</p>

    <div class="feature-card">
        <h3>Feedback Forms</h3>
    </div>
    <div class="feature-card">
        <h3>Participation Certificates</h3>
    </div>
    <div class="feature-card">
        <h3>Customizations</h3>
    </div>
    <div class="feature-card">
        <h3>Analytics</h3>
    </div>
</div>




{% endblock %}
