{% extends "base.html" %}
{% block title %}Home - P Events{% endblock %}
{% block content %}
<header>
    <div class="section__container header__container">
        <div class="header__content">
            <div>
                <p class="sub__header">Book Now</p>
                <h1>The Smiling <br />agent for Events</h1>
                <p class="section__subtitle">
                    We're Now in Ahmedabad!
                </p>
                <div class="action__btns">
                    <button class="btn">Plan an Event</button>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
