{% extends "base.html" %}
{% block title %}Pricing - P Events{% endblock %}
{% block content %}



<br><br><br><br>

<div id="pricing-container">
    <div id="freemium" class="pricing-card">
        <h2>Freemium</h2>
        <p>0%<br>Only Free Tickets Allowed</p>
        <h3>Basic Features</h3>
        <ul>
            <li>✔ Upto 100 Attendees per Event**</li>
            <li>✔ Ticket PDF with QR Code</li>
            <li>✔ Request for Listing in Featured Events</li>
            <li>✔ Download Participant List & QR Codes</li>
            <li>✔ Standard Emails (No Customization Allowed)</li>
            <li>✔ Default Templates for WhatsApp & SMS (INR 1 per Message)</li>
            <li>✔ Default Event Template (Minimal)</li>
        </ul>
        <button>Get Started</button>
    </div>
    
    <div id="lite" class="pricing-card">
        <h2>Lite</h2>
        <p>2% + 18% GST*</p>
        <h3>All Features of Freemium</h3>
        <ul>
            <li>✔ Upto 300 Attendees per Event**</li>
            <li>✔ Supports Only UPI Payment Method</li>
            <li>✔ Analytics Dashboard</li>
            <li>✔ Unlimited Discounts Codes</li>
            <li>✔ Team-based Registrations</li>
            <li>✔ Waitlisted Registrations</li>
            <li>✔ Bulk Upload Attendees (100 max)</li>
            <li>✔ Upto 3 Email Campaigns to Participants</li>
            <li>✔ Check-in App (Basic Features)</li>
            <li>✔ Email Support (Working Days - 10am to 7pm IST)</li>
        </ul>
        <button>Get Started</button>
    </div>

    <div id="silver" class="pricing-card">
        <h2>Silver</h2>
        <p>3.75% + 18% GST*</p>
        <h3>All Features of Lite</h3>
        <ul>
            <li>✔ Upto 2500 Attendees per Event**</li>
            <li>✔ Supports All Available Payment Methods</li>
            <li>✔ Non-INR Tickets are supported at 5% + GST per Ticket</li>
            <li>✔ Approval Based Registrations</li>
            <li>✔ Group Discounts</li>
            <li>✔ Ticket Categories</li>
            <li>✔ Hidden Tickets</li>
            <li>✔ Customized Emails</li>
            <li>✔ Upto 10 Email Campaigns to Participants</li>
            <li>✔ Automated Referral Contests</li>
            <li>✔ Check-in App</li>
            <li>✔ Sponsor App</li>
            <li>✔ Phone & Email Support</li>
        </ul>
        <button>Get Started</button>
    </div>

    <div id="gold" class="pricing-card">
        <h2>Gold</h2>
        <p>4.25% + 18% GST*</p>
        <h3>All Features of Silver</h3>
        <ul>
            <li>✔ Upto 5000 Attendees per Event**</li>
            <li>✔ GST (Tax) Invoices</li>
            <li>✔ Listing in Featured Events</li>
            <li>✔ Customized Emails</li>
            <li>✔ Unlimited Email Campaigns</li>
            <li>✔ Bring Your Own Email ID & Sender ID</li>
            <li>✔ Whitelabeling: Logo & Branding Changes</li>
            <li>✔ Collect Audience Feedback & issue Customized Certificates</li>
            <li>✔ Zapier Integration</li>
            <li>✔ Priority Support over Phone & Email</li>
        </ul>
        <button>Get Started</button>
    </div>
</div>


{% endblock %}
